<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<!---->
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
          name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <style>
        .error {
            color: red;
        }
    </style>
    <title>Customer Ragistration Form</title>
</head>
<body>
<i>Fill out the form. Asterisk (*) means required</i>
<br>
<form method="post" th:action="@{/processForm}" th:object="${customer}">
    First Name: <input th:field="*{firstName}" type="text">
    <br><br>
    Last Name(*): <input th:field="*{lastName}" type="text"/>
    <span class="error"
          th::if="${#fields.hasErrors('lastName')}"
          th:errors="*{lastName}"></span>
    <br><br>
    Free Passes: <input th:field="*{freePasses}" type="text"/>
    <span class="error"
          th::if="${#fields.hasErrors('freePasses')}"
          th:errors="*{freePasses}"></span>
    <br><br>
    Postal Code: <input th:field="*{postalCode}" type="text"/>
    <span class="error"
          th::if="${#fields.hasErrors('postalCode')}"
          th:errors="*{postalCode}"></span>
    <br><br>
    <input type="submit" value="Submit">
</form>
</body>
</html>