<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
          name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <style>
        .error {
            color: red;
        }
    </style>
    <title>Custom Login Page</title>
</head>
<body>
<h3>My Custom Login Page</h3>
<form action="#" method="post" th:action="@{/authenticateTheUser}">

    <!--    Check for login error-->
    <div th:if="${param.error}"> <!--    kiem tra error co ton tai o request param khong-->
        <i class="error">Invalid username and password.</i>
    </div>
    <p>
        User Name: <input name="username" type="text"/>
    </p>
    <p>
        Password: <input name="password" type="password"/>
    </p>

    <input type="submit" value="Login"/>


</form>
</body>
</html>