<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
          name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <title>Student Registration Form</title>
</head>
<body>
<h3>Student Registration Form </h3>
<form method="post" th:action="@{/processStudentForm}" th:object="${student}">
    <!-- y nghia cua th:object la thymeleaf se lay data tu object nay -->
    <label for="firstName">First Name:</label>
    <input id="firstName" name="firstName" th:field="*{firstName}" type="text"/>
    <br>
    <label for="lastName">Last Name:</label>
    <input id="lastName" name="lastName" th:field="*{lastName}" type="text"/>
    <br>
    Country:
    <select th:field="*{country}">
        <!--        <option value="VN">Vietnam</option>-->
        <!--        <option value="US">United States</option>-->
        <!--        <option value="SG">Singapore</option>-->
        <!--        <option value="MY">Malaysia</option>-->

        <option th:each="tempCountry : ${countries}"
                th:text="${tempCountry}"
                th:value="${tempCountry}"></option>
    </select>

    <br>
    <input type="submit" value="Submit"/>
</form>
</body>
</html>